.crypto-icon-medium{
    width: 30px;
    height:30px;
}

.currency-price-row:hover .crypto-icon-medium{
    filter:brightness(125%);
}

.currency-price-row:hover{
    background-color:rgb(40,40,60);
}

#table-sort-by-quote{
    font-weight: normal;
}

.table-sorting-header{
    font-size: small;
}

.prices-header-row{
    background: linear-gradient(to top, #1e2833, #808080);
}