{% extends 'side_panel/side_panel.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/portfolioStyle.css' %}" />
<div class="portfolio-dark portfolio-stocks-panel-dark card-body" style="margin-top: 10px;">
    <h1 class = "portfolio-stocks-balance-title-dark card-title">Your balance: </h1>
    <h2 id = "growValue" class="card-text mx-auto portfolio-stocks-balance-text-dark" style="width: 200px; padding-top: 50px;">{{growValue}}</h2>
    <script type="text/javascript">
        if({{growValue}} < 0)
            document.getElementById("growValue").style.color = "#FF0000";
        else if({{growValue}} >0)
            document.getElementById("growValue").style.color = "#00FF00";
        else
            document.getElementById("growValue").style.color = "#FFFFFF";
    </script>
</div>
<div class="portfolio-stocks-panel-dark card-body">
    <h1 class="portfolio-stocks-balance-title-dark  card-title"> Your stocks: </h1>
    <ul class="list-group">
        <li class="list-group-item portfolio-stocks-list-item-dark">
            <div class = "row">
                <div class="col-sm-2"> Company_name </div>
                <div class="col-sm-2"> growValue </div>
                <div class= col-sm-2 >
                    <button class="btn btn-secondary">
                        Sell
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
