{% extends 'side_panel/side_panel.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/index.css'%}" />
<div class="col-sm h-100">
    <div class="row">
        <div class="chart-box col-sm-4">
            <canvas id="chart1" class="chart"></canvas>
        </div>
        <div class="chart-box col-sm-4">
            <canvas id="chart2" class="chart"></canvas>
        </div>
        <div class="chart-box col-sm-4">
            <canvas id="chart3" class="chart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="chart-box col-sm-4">
            <canvas id="chart4" class="chart"></canvas>
        </div>
        <div class="chart-box col-sm-4">
            <canvas id="chart5" class="chart"></canvas>
        </div>
        <div class="chart-box col-sm-4">
            <canvas id="chart6" class="chart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="chart-box col-sm-4">
            <canvas id="chart7" class="chart"></canvas>
        </div>
        <div class="chart-box col-sm-4">
            <canvas id="chart8" class="chart"></canvas>
        </div>
        <div class="chart-box col-sm-4">
  			<canvas id="chart9" class="chart"></canvas>
		</div>
    </div>
</div>
<script src="{% static 'home/candlecharts.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'home/index.js' %}"></script>
{% endblock %}

