{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'currencies/current_prices.css' %}">
<table class="table table-dark mb-0" id="current-prices-table">
  <thead>
    <th class="table-sorting-header prices-header-row" id="table-sort-by-quote">Sort by:</th>
    <th class="table-sorting-header prices-header-row" id="currency-id-header">Name</th>
    <th class="table-sorting-header prices-header-row" id="currency-price-header">Price</th>
    <th class="table-sorting-header prices-header-row" id="currency-change-header">Change 24h</th>
  </thead>
  <tbody>
  {% for currency in currencies %}
    <tr class="currency-price-row">
      <td><img class="crypto-icon-medium" src="/static/currencies/crypto_icons/{{ currency.id }}.webp" alt="error"/></td>
      <td style="font-weight: bold">{{ currency.symbol|upper }}</td>
      <td id="{{ currency.id }}_price" class="text-right">{{ currency.current_price }}</td>
      <td id="{{ currency.id }}_price_change_percentage_24h" class="text-right">{{ currency.price_change_percentage_24h|floatformat:3 }}%</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript" src={% static 'currencies/sort_table.js' %}></script>
<script type="text/javascript" src={% static 'currencies/current_prices.js' %}></script>
