{% load static %}
<table class="table table-dark">
  <thead>
  </thead>
  <tbody>
  {% for currency in currencies %}
    <tr>
      <td  style="font-weight: bold">{{ currency.symbol|upper }}</td>
      <td id="{{ currency.id }}_price" class="text-right">USD {{ currency.current_price }}</td>
      <td class="text-right red_green_yellow">{{ currency.price_change_percentage_24h|floatformat:3 }}%</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
    let elements = document.getElementsByClassName("red_green_yellow")
    Array.prototype.forEach.call(elements, function(elem){
        let value = parseFloat(elem.innerHTML)
        if(value < 0.0){
            elem.style.color = 'red'
        }else{
            elem.style.color = 'green'
        }
    })
</script>
<script type="text/javascript" src={% static 'currencies/current_prices.js' %}></script>