{% extends 'home/base.html' %}
{% block body %}
{% load static %}
<div class="container col-sm-10">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-3">
                <div class="container-fluid p-0 m-0">
                    <div class="row no-gutters p-0 m-0">
                    {% include 'currencies/current_prices.html' %}
                    </div>
                </div>
                <div class="container-fluid p-0 mt-0">
                    <div class="row no-gutters">
                    {% include 'quick_purchase/quick_purchase_panel.html' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="background-color: white">
                {% block content %}S
                    Error loading content.
                {% endblock content %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
