{% extends 'side_panel.html' %}
{% block content %}
{% load static %}
<script src="{% static 'candlecharts.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }} static/loginStyle.css" />
<div>
    <div class="row justify-content-center", style="background-color:white;">
        <div class="col-sm">
            <canvas id="chart1"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="chart2"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="chart3"></canvas>
        </div>
    </div>
    <div class="row justify-content-center", style="background-color: white;">
        <div class="col-sm">
            <canvas id="chart4"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="chart5"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="chart6"></canvas>
        </div>
    </div>
    <div class="row justify-content-center", style="background-color: white;">
        <div class="col-sm">
            <canvas id="chart7"></canvas>
        </div>
        <div class="col-sm">
            <canvas id="chart8"></canvas>
        </div>
        <div class="col-sm">
  			<canvas id="chart9"></canvas>
		</div>
    </div>
</div>
<script type="text/javascript" src="{% static 'index.js' %}"></script>
{% endblock %}

