{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 base-sidebar-dark">
            <div class="container">BTC: <span id="btc_price"></span></div>
            <div class="container">ETH: <span id="eth_price"></span></div>
            <div class="container">XRP: <span id="xrp_price"></span></div>
            <div class="container">LTC: <span id="ltc_price"></span></div>
            <div class="container">USDT: <span id="usdt_price"></span></div>
            <div class="container">LIBRA: <span id="libra_price"></span></div>
            <div class="container">XMR: <span id="xmr_price"></span></div>
            <div class="container">EOS: <span id="eos_price"></span></div>
            <div class="container">BNB: <span id="bnb_price"></span></div>
        </div>
        <div class="col-lg portfolio-dark">
            {% block content %}
                Error loading content.
            {% endblock content %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'current_prices.js' %}"></script>
{% endblock %}