{% extends 'base.html' %}

{% block content %}

<div class="login-dark">
        <form method="post">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" style="text-align: center;">
                <h7> {{message}} </h7>
            </div>
            {% endfor %}
            {% csrf_token %}
            <h2 class="sr-only">Unban user named:</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">UNBAN</button></div>
        </form>
</div>

{% endblock %}