{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'quick_purchase/quick_purchase_panel.css' %}">
<div class="container-fluid" id="quick-buy-panel">
    <form id="quick-buy-form" method="post" action="/perform_quick_buy/">
        {% csrf_token %}
        <div class="row mb-2 d-flex">
            <div class="col-sm-7" id="quick-buy-text">Quick buy:</div>
            <div class="col-sm-5 text-right">
                <span id="balance-field">
                    <span id="balance-field-placeholder">show balance</span>
                    <span id="balance-field-value">${{ user_balance_context }}</span>
                    <i id="balance-visibility-toggle" class="far fa-eye"></i>
                </span>
            </div>
        </div>
        <div class="row no-gutters d-flex">
            <div class="col-sm-7 form-group">
                <!--<input type="text" name="buy_amount" maxlength="30" placeholder="Buying..." class="form-control" required id="id_buy_amount">!-->
                {{ quick_buy_form.buy_amount|attr:"class:form-control"|attr:"placeholder:Buying..."}}
            </div>
            <div class="col-sm-5 pl-2 form-group">
                <select name="buy_currency" class="form-control" id="id_buy_currency">
                    {% for currency in currencies %}
                    <option value="{{ currency.name }}">{{ currency.symbol|upper }}</option>
                    {% endfor %}
                </select>
                <!--{{ quick_buy_form.buy_currency|attr:"class:form-control" }}!-->
            </div>
        </div>
        <div class="row no-gutters d-flex">
            <div class="form-group col-sm-7">
                <!--{{ quick_buy_form.pay_amount|attr:"class:form-control"|attr:"placeholder:Paying..." }}!-->
                <input type="submit" class="form-control" id="exampleFormControlInput2" value="PAY WITH:">
            </div>
            <div class="form-group col-sm-5 pl-2 d-flex">
                <select name="pay_currency" class="form-control" id="id_pay_currency">
                    {% for available_currency in available_currency_set %}
                    <option value="{{ available_currency.name }}">{{ available_currency.symbol|upper }}</option>
                    {% endfor %}
                </select>
                <!--{{ quick_buy_form.pay_currency|attr:"class:form-control" }}!-->
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src={% static 'quick_purchase/quick_purchase_panel.js' %}></script>
