

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#main-logo {
    color: #303090;
    font-size: x-large;
    margin-left: -12px;
    font-weight: 700;
}

.navbar-text{
    font-size:large;
    font-weight:500;
}

#logout_button{
    color:#903333;
    font-weight: bold;
}

#login_button{
    color:#399033;
    font-weight: bold;
}

.base-sidebar-dark-title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
}

.base-sidebar-dark{
    background: #1e2833;
    color: #eeeeee;
}

.base-sidebar-dark-item{
    background: #303030;
    color: #eeeeee;
}

/* Other Classes for Page Styling */

body {
  background: #1e2833;
  background: linear-gradient(to right, #1e2833, #0099ff);
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

#page-content {
  flex: 1 0 auto;
}
