

.portfolio-dark{

  height:1000px;
  background:#475d62 url(images/portfolioBackground.jpg);
  background-size:cover;
  position:relative;
}

.portfolio-sidebar-dark-title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
}

.portfolio-sidebar-dark{
    background: #1e2833;
    color: #eeeeee;
}

.portfolio-sidebar-dark-item{
    background: #303030;
    color: #eeeeee;
}



.portfolio-stocks-panel-dark{
    background: rgba(30, 40, 51, 0.8);
}

.portfolio-stocks-balance-text-dark{
    font-size: 100px;
}

.portfolio-stocks-balance-title-dark{
    color: #FFFFFF;
}

.portfolio-stocks-list-item-dark{
    color: #FFFFFF;
    background: #303030;
}

.font-weight-light{

	text-align: center;
	font-size: 50px;
}
