{% extends 'main_panel/main_panel.html' %}
{% block content %}
{% load plotly_dash %}
  <style>
    /* { */
        /* box-sizing: border-box; */
    /* } */
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    
    }

    .row:after {
    content: "";
    display: table;
    clear: both;

    }
    </style>
    <div class="{% plotly_class name='CryptoGraph' %} card" style="background-color: #1e2833;">
      {% plotly_app name='CryptoGraph' ratio=1 %}
    </div>
{% endblock %}
