{% extends 'main_panel/main_panel.html' %}
{% block content %}
{% load plotly_dash %}
  <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    padding: 20px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;

    }
    </style>
    <div class="{% plotly_class name='CryptoGraph' %} card" style="background-color: white">
      {% plotly_app name='CryptoGraph' ratio=1 %}
    </div>
    <div class="row" align="center">
      <div class="column" align="center">
        <form class="form-inline" method="GET">
            {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="USD.." aria-label="Search" name='crypto_buy'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:#fffffd; background-color: #4CAF50">BUY</button>
        </form>
      </div>
      <div class="column" align="center">
        <form class="form-inline" method="GET">
            {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Crypto.." aria-label="Search" name='crypto_sell'>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:#fffffd; background-color:#f44336">SELL</button>
        </form>
      </div>
    </div>
{% endblock %}
